/*---------------------
RESET
----------------------*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

nav ul {
    list-style: none;
}



/*---------------------
LAYOUT
----------------------*/

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 1rem;
}


/*---------------------
NAVIGATION
----------------------*/


.nav-bar>ul {
    display: flex;
    gap: 1rem;
}

nav.main-nav {}


.container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem;
}

/*---------------------
TYPOGRAPHY
----------------------*/

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

body {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.44;
}



/*---------------------
COLOR
----------------------*/


:root {
    --color-grey-cool-base: 199;
    --color-grey-cool-100: hsl(var(--color-grey-cool-base), 8%, 97%);
    --color-grey-cool-200: hsl(var(--color-grey-cool-base), 13%, 89%);
    --color-grey-cool-300: hsl(var(--color-grey-cool-base), 13%, 68%);
    --color-grey-cool-400: hsl(var(--color-grey-cool-base), 21%, 55%); /* baseline */
    --color-grey-cool-500: hsl(var(--color-grey-cool-base), 21%, 47%);
    --color-grey-cool-600: hsl(var(--color-grey-cool-base), 34%, 34%);
    --color-grey-cool-700: hsl(var(--color-grey-cool-base), 34%, 21%);
}

/**-----
Color: Backgrounds
-----**/




/*---------------------
PATTERNS
----------------------*/

.tile {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
}


.masonry-type-a {
    column-count: 3;
    column-gap: 1rem;
}

.masonry-type-a .tile {
    display: inline-block;
    width: 100%;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
}
